<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Trip Form</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body class="container mt-4">

<h2 th:text="${busTrip.id == null} ? 'Create Bus Trip' : 'Edit Bus Trip'"></h2>

<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
    <strong th:text="${errorMessage}"></strong>
</div>
<form th:action="${busTrip.id == null} ? @{/busTrips} : @{'/busTrips/' + ${busTrip.id}}"
      th:object="${busTrip}"
      method="post"
      class="card p-4 shadow-sm mt-3">

    <input type="hidden" th:if="${busTrip.id != null}" th:field="*{id}">

    <div class="mb-3">
        <label class="form-label">Route ID</label>
        <input type="number" class="form-control"
               name="routeId"
               th:value="${routeId != null} ? ${routeId} : (${busTrip.route != null ? busTrip.route.id : ''})">
    </div>

    <div class="mb-3">
        <label class="form-label">Bus ID</label>
        <input type="number" class="form-control"
               name="busId"
               th:value="${busId != null} ? ${busId} : (${busTrip.bus != null ? busTrip.bus.id : ''})">
    </div>

    <div class="mb-3">
        <label class="form-label">Start Time</label>
        <input type="datetime-local"
               th:field="*{startTime}"
               class="form-control"
        >
    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        <select th:field="*{status}" class="form-select" required>
            <option th:each="s : ${T(com.example.busstation.model.BusTripStatus).values()}"
                    th:value="${s}"
                    th:text="${s.status}">
            </option>
        </select>
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-success">Save</button>
        <a href="/busTrips" class="btn btn-secondary">Cancel</a>
    </div>

</form>

</body>
</html>