<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Driver</title>
</head>
<body>

<h1>Add Driver</h1>

<form th:action="@{/drivers}" th:object="${driver}" method="post">

  <label for="id">ID:</label>
  <input type="text" id="id" th:field="*{id}" required>

  <br><br>

  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" required>

  <br><br>

  <label for="experienceYears">Experience (Years):</label>
  <input type="number" id="experienceYears" th:field="*{experienceYears}" min="0">

  <br><br>

  <button type="submit">Save</button>
</form>

<a th:href="@{/drivers}">Back to list</a>

</body>
</html>
