<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Driver</title>
</head>
<body>

<h1>Add Driver</h1>

<form th:object="${driver}"
      th:action="@{${driver.id} == null ? '/drivers' : '/drivers/' + ${driver.id}}"
      method="post">

   
    <input type="hidden" th:if="${driver.id != null}" th:field="*{id}"/>

    <label>Name:</label>
    <input type="text" th:field="*{name}" required>

    <br><br>

    <label>Experience (Years):</label>
    <input type="number" th:field="*{experienceYears}" min="0">

    <br><br>

    <button type="submit"
            th:text="${driver.id == null} ? 'Add Driver' : 'Update Driver'">
    </button>

</form>


<a th:href="@{/drivers}">Back to list</a>

</body>
</html>
