<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Drivers List</title>
</head>
<body>

<h1>Drivers</h1>

<a th:href="@{/drivers/new}">Add New Driver</a>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Experience Years</th>
    <th>Actions</th>
  </tr>

  <tr th:each="driver : ${drivers}">
    <td th:text="${driver.id}">DR01</td>
    <td th:text="${driver.name}">John Doe</td>
    <td th:text="${driver.experienceYears}">5</td>

      <td>
          <a th:href="@{'/drivers/' + ${driver.id} + '/edit'}">Edit</a>

          <form th:action="@{'/drivers/' + ${driver.id} + '/delete'}"
                method="post" style="display:inline;">
              <button type="submit">Delete</button>
          </form>
      </td>

  </tr>
</table>

</body>
</html>
