<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New Bus Station</title>
</head>
<body>
<h1>Add New Bus Station</h1>

<form th:object="${busStation}"
      th:action="@{${busStation.id} == null ? '/busStations' : '/busStations/' + ${busStation.id}}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Name:</label>
    <input type="text" th:field="*{name}" required /><br/><br/>

    <label>City:</label>
    <input type="text" th:field="*{city}" required /><br/><br/>

    <label>Damaged:</label>
    <input type="checkbox" th:field="*{damaged}" /><br/><br/>

    <div th:if="${errorMessage}" style="color:#ff0000; font-weight:bold;">
        <p th:text="${errorMessage}"></p>
    </div>

    <button type="submit"
            th:text="${busStation.id == null} ? 'Add Bus Station' : 'Update Bus Station'">
    </button>
</form>

<br/>
<a th:href="@{/busStations}">Back to Bus Station List</a>

</body>
</html>
