<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bus Station List</title>
</head>
<body>
<h1>All Bus Stations</h1>

<a th:href="@{/busStations/new}">Add New Bus Station</a>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>City</th>
    <th>Damaged</th>
    <th>Actions</th>
  </tr>

  <tr th:each="station : ${busStations}">
    <td th:text="${station.id}">ID001</td>
    <td th:text="${station.name}">Central Station</td>
    <td th:text="${station.city}">Cluj</td>
    <td th:text="${station.damaged}">false</td>
      <td>
          <a th:href="@{'/busStations/' + ${station.id} + '/edit'}">Edit</a>

          <form th:action="@{'/busStations/' + ${station.id} + '/delete'}"
                method="post" style="display:inline;">
              <button type="submit">Delete</button>
          </form>
      </td>

  </tr>
</table>

</body>
</html>
