<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${passenger.id} == null ? 'Add New Passenger' : 'Edit Passenger'"></title>
</head>
<body>

<h1 th:text="${passenger.id} == null ? 'Add New Passenger' : 'Edit Passenger'"></h1>

<form th:object="${passenger}"
      th:action="${passenger.id} == null ?
                 @{/passengers} :
                 @{/passengers/{id}(id=${passenger.id})}"
      method="post">


    <input type="hidden" th:if="${passenger.id != null}" th:field="*{id}" />

    <label>Name:</label>
    <input type="text" th:field="*{name}" required />
    <br/><br/>

    <label>Currency:</label>
    <input type="text" th:field="*{currency}" required />
    <br/><br/>

    <button type="submit"
            th:text="${passenger.id} == null ? 'Add Passenger' : 'Update Passenger'">
    </button>

</form>


<br>
<a th:href="@{/passengers}">Back to Passengers List</a>

</body>
</html>
