<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${ticket.id} == null ? 'Add New Ticket' : 'Edit Ticket'"></title>
</head>
<body>

<h1 th:text="${ticket.id} == null ? 'Add New Ticket' : 'Edit Ticket'"></h1>

<form th:object="${ticket}"
      th:action="${ticket.id} == null ?
                 @{/tickets} :
                 @{/tickets/{id}(id=${ticket.id})}"
      method="post">

    <!-- ID displayed but NOT editable -->
    <div th:if="${ticket.id != null}">
        <label>ID:</label>
        <input type="text" th:value="${ticket.id}" readonly />
        <br/><br/>
    </div>

    <label>Trip ID:</label>
    <input type="number"
           name="busTripId"
           th:value="${ticket.busTrip != null ? ticket.busTrip.id : ''}"
           required />
    <br/><br/>

    <label>Passenger ID:</label>
    <input type="number"
           name="passengerId"
           th:value="${ticket.passenger != null ? ticket.passenger.id : ''}"
           required />
    <br/><br/>

    <label>Seat Number:</label>
    <input type="text" th:field="*{seatNumber}" required />
    <br/><br/>

    <label>Price:</label>
    <input type="number" step="0.01" th:field="*{price}" required />
    <br/><br/>

    <button type="submit"
            th:text="${ticket.id == null ? 'Add Ticket' : 'Update Ticket'}">
    </button>

</form>


<br>
<a th:href="@{/tickets}">Back to Ticket List</a>

</body>
</html>
