<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New Passenger</title>
</head>
<body>

<h1>Add New Passenger</h1>

<form th:action="@{/passengers}" method="post" th:object="${passenger}">
  <label>ID:</label>
  <input type="text" th:field="*{id}" required /><br/><br/>

  <label>Name:</label>
  <input type="text" th:field="*{name}" required /><br/><br/>

  <label>Email:</label>
  <input type="email" th:field="*{email}" required /><br/><br/>

  <label>Phone Number:</label>
  <input type="text" th:field="*{phoneNumber}" /><br/><br/>

  <button type="submit">Add Passenger</button>
</form>

<br/>
<a th:href="@{/passengers}">Back to Passenger List</a>

</body>
</html>
